@import "./variables.scss";

.homeHero {
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: flex-start;
  margin: 0;

  .heroCta {
    background: linear-gradient(135deg, $yellowColor 0%, $secondaryColor 100%);
    min-width: 300px;
    padding: 2.5em;
    width: 100%;
    display: flex;
    align-items: center;
    max-height: 600px;

    h1.ctaTitle {
      font-family: $titleFont;
      font-size: $fontSize-xxl;
      line-height: 1em;
    }
    h2.cta {
      font-family: $titleFont;
      font-size: $fontSize-lg;
      margin: 1.5em 0 1em 0;
      line-height: 1.35em;
    }
    p.ctaText {
      font-family: $textFont;
      font-size: $fontSize-md;
      font-weight: 300;
      margin-top: 1em;
    }
    .ctaButton {
      padding: 0;
    }
  }
  .heroImage {
    height: auto;
    width: 100%;
    max-height: 600px;
  }
  .heroImage > div {
    position: unset !important;
  }
  .image {
    height: 100% !important;
    object-fit: cover;
    position: relative !important;
    width: 100% !important;
  }
}

.darkBox {
  background: $primaryColor;
  margin: 0;
  padding: 5em 2em;
  width: 100%;
  height: 100%;
}

h2.boxTitle {
  color: white;
  font-family: $titleFont;
  font-size: $fontSize-xl;
  letter-spacing: 0.2px;
  margin: 0;
  text-align: center;
}
.underliner {
  border-bottom: solid 3px white;
  margin: 2em auto;
  width: 25%;
}

p.boxText {
  color: white;
  font-family: $textFont;
  font-size: $fontSize-md;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin: 1em 0;
  text-align: center;
}

.blueBox {
  background: $blueColor;
  margin: 0;
  padding: 4em 1.5em;
  width: 100%;
  height: 100%;

  .imagesBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    .fourRoundImages {
      display: flex;
      gap: 0.5em;

      .roundImage {
        height: auto;
        position: relative;
        width: 150px !important;
      }
      .image {
        border-radius: 50%;
        height: 150px !important;
        object-fit: cover;
        width: 150px !important;
        border: solid 2px white;
        position: relative !important;
      }
    }
  }
}

.homeNextEvent {
  align-content: center;
  align-items: center;
  background-image: $gradient;
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding: 3em;
  width: 100%;

  .nextEventLogo {
    width: 100%;
    max-width: 250px;
  }

  .nextEventCard {
    width: 100%;

    h2.nextEventTitle {
      color: white;
      font-family: $textFont;
      font-size: $fontSize-md;
      font-weight: 300;
      line-height: 2em;
      letter-spacing: 0.2px;
    }

    .card {
      background: white;
      border-radius: 5px;
      box-shadow: 6px 6px $primaryColor;
      padding: 1em;
    }
  }
}

/* Mobile */
@media (max-width: 700px) {
  .homeHero {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    margin: 0;

    .heroCta {
      background: linear-gradient(
        135deg,
        $yellowColor 0%,
        $secondaryColor 100%
      );
      width: 100%;
      padding: 2.5em;
    }
    .heroImage {
      width: 100%;
      height: auto;
    }
  }

  .homeNextEvent {
    padding: 1.5em;

    .nextEventLogo {
      max-width: 180px;
    }
  }
}
