@import './variables.scss';

.outlineButton {
    border: solid 3px $secondaryColor;
    border-radius: 8px;
    margin: 0;
    padding: 0;
    background-color: white;
    cursor: pointer;
    transition: fill 0.2s ease-in-out;
    
    .outlineButtonText {
        font-family: var(--font-title);
        font-size: $fontSize-md;
        color: $secondaryColor;
        line-height: 0.1em;
    }
}

.outlineButton:hover {
    border: solid 3px $secondaryColor;
    border-radius: 8px;
    margin: 0;
    padding: 0;
    background-color: $secondaryColor;
    cursor: pointer;

    .outlineButtonText {
        font-family: var(--font-title);
        font-size: $fontSize-md;
        color: white;
        line-height: 0.1em;
    }
}