@import './variables.scss';

.header {
    background-color: $lightColor;
    height: 5.4em;
    margin: 0 0 1em 0;
    padding: 0;
    width: 100%;

    .container {
        align-items: center;
        display: flex;
        justify-content: space-between;

        .logo {
            margin-top: 8px;
        }

        .navigation {
            display: flex;
            justify-content: space-around;

            .navigationIcon {
                align-items: center;
                display: flex;
                justify-content: center;

                .icon {
                    fill: none;
                    margin: 0 0.8em 0 0;
                    stroke: $primaryColor;
                    transition: fill 0.2s ease-in-out;
                }
                .icon:hover {
                    fill: none;
                    stroke: $secondaryColor;
                }
            }

            .navigationText {
                align-items: center;
                display: flex;
                justify-content: center;
                p {
                    color: $primaryColor;
                    font-family: var(--font-title);
                    font-size: $fontSize-md;
                    margin: 0 0.8em 0 0;
                    transition: fill 0.2s ease-in-out;
                }
                p:hover {
                    color: $secondaryColor;
                    
                }
            }
        }
    }
}