@import "./variables.scss";

.homeHero {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0;
  margin: 0;

  .heroCta {
    background-color: $yellowColor;
    width: 100%;
    min-width: 300px;
    max-width: 550px;
    padding: 2.5em;

    h1,
    .cta {
      font-family: $bigTitleFont;
      font-size: $fontSize-xl;
      line-height: 1em;
      margin: 1em 0;
    }

    h2,
    .ctaText {
      font-family: $titleFont;
      font-size: $fontSize-lg;
      margin: 1em 0;
      letter-spacing: 0.1px;
    }
    p {
      letter-spacing: 0.1px;
      line-height: 1.4em;
    }
    .ctaButton {
      margin: 2em 0;
      padding: 0;
    }
  }
  .heroImage {
    width: 100%;
    height: auto;
  }
  .heroImage > div {
    position: unset !important;
  }
  .image {
    width: 100% !important;
    height: 100% !important;
    position: relative !important;
    object-fit: cover;
  }
}
.blueBox {
  background-color: $blueColor;
  margin: 0;
  padding: 4em 0;

  h2,
  .blueBoxTitle {
    color: white;
    font-family: $titleFont;
    font-size: $fontSize-lg;
    letter-spacing: 0.2px;
    text-align: center;
    margin: 0;
  }

  .underliner {
    border-bottom: solid 3px white;
    width: 40%;
    margin: 2em auto;
  }

  p,
  .blueBoxText {
    color: white;
    font-family: $textFont;
    font-size: $fontSize-md;
    letter-spacing: 0.3px;
    text-align: center;
    margin-bottom: 1.3em;
  }

  form {
    color: $primaryColor;
    display: flex;
    padding: 2px;
    border: 3px solid $primaryColor;
    border-radius: 8px;
    background-color: white;
    width: 100%;
    max-width: 400px;
    position: relative;
    margin: 2.5em auto;

    input[type="search"] {
      border: none;
      background: transparent;
      margin: 0;
      padding: 7px 8px;
      font-size: $fontSize-md;
      font-family: $textFont;
      color: inherit;
      border: 1px solid transparent;
      border-radius: inherit;
      width: 100%;
      max-width: 350px;
    }

    input[type="search"]::placeholder {
      color: $primaryColor;
    }

    button[type="submit"] {
      text-indent: -999px;
      position: absolute;
      overflow: hidden;
      width: 20px;
      height: 20px;
      right: 1em;
      top: 1em;
      padding: 0;
      margin: 0;
      border: 1px solid transparent;
      border-radius: inherit;
      background: transparent
        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
        no-repeat center;
      cursor: pointer;
      opacity: 0.7;
    }

    button[type="submit"]:hover {
      opacity: 1;
    }

    button[type="submit"]:focus,
    input[type="search"]:focus {
      box-shadow: 0 0 3px 0 #1183d6;
      border-color: #1183d6;
      outline: none;
    }
  }

  .fourRoundImages {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .roundImage {
      width: 170px;
      height: 170px;
      position: relative;
    }
    .pinkImage {
      object-fit: cover;
      border-radius: 50%;
      width: 170px !important;
      height: 170px !important;
      border: solid 3px $secondaryColor;
    }
    .yellowImage {
      object-fit: cover;
      border-radius: 50%;
      width: 170px !important;
      height: 170px !important;
      border: solid 3px $yellowColor;
    }
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
