$primaryColor: #28152b;
$secondaryColor: #e4287d;
$greenColor: #13d1ba;
$blueColor: #3abff8;
$yellowColor: #feed63;
$greyColor: #8c8a8a;
$lightColor: #faf7fc;

$fontSize-sm: 0.6em;
$fontSize-md: 1.05em;
$fontSize-lg: 1.3em;
$fontSize-xl: 2.4em;

$textFont: var(--font-text);
$titleFont: var(--font-title);
$bigTitleFont: var(--font-bigTitle);
