$primaryColor: #28152B;
$secondaryColor: #E4287D;
$greenColor: #13D1BA;
$blueColor: #3ABFF8;
$yellowColor: #FBBD23;
$greyColor: #8C8A8A;
$lightColor: #FAF7FC;

$fontSize-sm:0.65rem;
$fontSize-md:1rem;
$fontSize-lg:2rem;
$fontSize-xl:2.4rem;
