@import "./variables.scss";

// REGULAR BUTTONS

.fullButton {
  background-color: $secondaryColor;
  border: solid 3px $secondaryColor;
  border-radius: 8px;
  cursor: pointer;
  margin: 1.75em 0;
  padding: 0.5em 1em;
  transition: fill 0.2s ease-in-out;

  .fullButtonText {
    color: white;
    font-family: $titleFont;
    font-size: $fontSize-md;
    letter-spacing: 0.5px;
  }
}

.fullButton:hover {
  background-color: white;

  .fullButtonText {
    color: $secondaryColor;
  }
}

.outlineButton {
  background-color: white;
  border: solid 3px $secondaryColor;
  border-radius: 8px;
  cursor: pointer;
  margin: 1.5em 0;
  padding: 0.5em 1em;
  transition: fill 0.2s ease-in-out;

  .outlineButtonText {
    color: $primaryColor;
    font-family: $titleFont;
    font-size: $fontSize-md;
    letter-spacing: 0.5px;
  }
}

.outlineButton:hover {
  background-color: white;
  box-shadow: 4px 4px $primaryColor;

  .outlineButtonText {
    color: $secondaryColor;
  }
}

// BIG BUTTONS

.fullBigButton {
  border: solid 3px $secondaryColor;
  border-radius: 8px;
  box-shadow: 6px 6px $primaryColor;
  margin: 1em 0;
  padding: 1em 1.5em;
  background-color: $secondaryColor;
  cursor: pointer;
  transition: fill 0.2s ease-in-out;

  .fullBigButtonText {
    color: white;
    font-family: $titleFont;
    font-size: $fontSize-lg;
  }
}

.fullBigButton:hover {
  background-color: white;

  .fullBigButtonText {
    color: $secondaryColor;
  }
}

.outlineBigButton {
  background-color: white;
  border: solid 3px $primaryColor;
  border-radius: 8px;
  box-shadow: 6px 6px $primaryColor;
  margin: 1em 0;
  padding: 1em 1.5em;
  cursor: pointer;
  transition: fill 0.2s ease-in-out;

  .outlineBigButtonText {
    font-family: $titleFont;
    font-size: $fontSize-lg;
    color: $primaryColor;
  }
}

.outlineBigButton:hover {
  border: solid 3px $secondaryColor;

  .outlineBigButtonText {
    color: $secondaryColor;
  }
}
