@import "./variables.scss";

div.spaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p.meta {
  color: $greyColor;
  font-family: $textFont;
  font-size: $fontSize-sm;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

p.metaCenterText {
  color: $greyColor;
  font-family: $textFont;
  font-size: $fontSize-sm;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  text-align: center;
  line-height: 3em;
}

p.blackMeta {
  color: $primaryColor;
  font-family: $textFont;
  font-size: $fontSize-sm;
  font-weight: 300;
  letter-spacing: 0.3px;
}

h2.title {
  color: $primaryColor;
  font-family: $titleFont;
  font-size: $fontSize-lg;
  line-height: 1.8em;
}

p.slogan {
  color: $primaryColor;
  font-family: $textFont;
  font-size: $fontSize-md;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.metaIcon {
  fill: none;
  stroke: $primaryColor;
  margin-right: 5px;
}

div.pinkUnderliner {
  border-bottom: solid 2px $secondaryColor;
  width: 100%;
  margin: 1em 0 0.7em 0;
}

div.inline {
  display: flex;
  align-items: center;
}

.outlineIcon {
  cursor: pointer;
  fill: none;
  margin-right: 0.5em;
  transition: fill 0.2s ease-in-out;
  &.blue {
    stroke: $blueColor;
  }
  &.pink {
    stroke: $secondaryColor;
  }
  &.green {
    stroke: $greenColor;
  }
  &.primary {
    stroke: $primaryColor;
  }
  &.yellow {
    stroke: $yellowColor;
  }
}

.outlineIcon:hover {
  stroke: $primaryColor;
}

.fullIcon {
  cursor: pointer;
  margin-right: 0.5em;
  transition: fill 0.2s ease-in-out;
  stroke: none;
  &.blue {
    fill: $blueColor;
  }
  &.green {
    fill: $greenColor;
  }
  &.pink {
    fill: $secondaryColor;
  }
  &.yellow {
    fill: $yellowColor;
  }
}

.fullIcon:hover {
  fill: none;
  &.blue {
    stroke: $blueColor;
  }
  &.green {
    stroke: $greenColor;
  }
  &.pink {
    stroke: $secondaryColor;
  }
  &.yellow {
    stroke: $yellowColor;
  }
}
