.env
**/node_modules
.git

# Next build dir
**/.next/

# Logs
**/logs/
*.log
npm-debug.log*

# production
**/build

# Auto Generated PWA files
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map