@import "./variables.scss";

.singlePlaceContainer {
  padding: 2em 2em 3.5em 2em;
  background-color: $lightColor;

  .singlePlace {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .singlePlaceLogo {
      width: 140px;
    }
    .singlePlaceDescription {
      width: 75%;
    }
  }
}

.darkContainer {
  background-color: $primaryColor;
  padding: 2em 2em 3.5em 2em;

  .title {
    color: white;
    text-align: center;
  }
  .meta {
    color: white;
    margin-top: 2.5em;
  }
}

.placeGrid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.placeCard {
  border: solid 2px darken($color: $lightColor, $amount: 15);
  box-shadow: 3px 3px darken($color: $lightColor, $amount: 15);
  padding: 1.5em;
  margin: 5em 1em 0 1em;
  position: relative;
  width: clamp(250px, 100%, 500px);
  border-radius: 5px;

  .rollerPlaceLogo {
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    background: white;
    border: solid 8px white;
  }
  .placeCardName {
    text-align: center;
    margin: 3em 0 0.5em 0;
    color: $secondaryColor;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .placeCardName:hover {
    color: $primaryColor;
  }
  .placeCardArrow {
    stroke: $secondaryColor;
    fill: none;
    margin: 0.1em 0 0 0.3em;
  }
  .placeFavoriteCounter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5em;
  }
}

.metaIconText {
  color: $greyColor;
  font-family: $textFont;
  font-size: $fontSize-sm;
  display: flex;
  align-items: center;
}
.placeLocation {
  stroke: $greyColor;
  fill: none;
  margin-right: 0.5em;
}
.favIcon {
  margin-right: 0.4em;
  stroke: $primaryColor;
  fill: none;
  cursor: pointer;
}

.favIcon:hover {
  stroke: $secondaryColor;
}

.favIconChecked {
  margin-right: 0.4em;
  stroke: $secondaryColor;
  fill: none;
  cursor: pointer;
}

.favIconChecked:hover {
  stroke: $primaryColor;
}

.placeUrl {
  color: $secondaryColor;
  font-family: $textFont;
  font-size: 0.87em;
  letter-spacing: 0.5px;
  margin-top: 2em;
}
.placeUrl:hover {
  color: $primaryColor;
}

.userFavsContainer {
  padding: 2em 0;
  background-color: $primaryColor;
  h2.title {
    text-align: center;
    color: white;
  }
}

.userFlowContainer {
  padding: 3em 0;
  background-color: $lightColor;
  h2.title {
    text-align: center;
    margin: 1.5em;
  }
}

.flow {
  background-color: $lightColor;

  .flowFilters {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 15px;
  }
  .responsiveFlowContainer {
    padding: 0.75em;
  }
}

.lastPostsShared {
  width: 100%;
  max-width: 400px;
}

.flowContainer {
  padding: 2em;
  display: flex;
  justify-content: space-around;
  gap: 2em;
  width: 100%;
  flex-wrap: wrap;
}

div.cardContainer {
  border-radius: 5px;
  margin-top: 1em;
  background-color: white;
  &.blue {
    border: solid 2px $blueColor;
    box-shadow: 4px 4px $blueColor;
  }
  &.pink {
    border: solid 2px $secondaryColor;
    box-shadow: 4px 4px $secondaryColor;
  }
  &.yellow {
    border: solid 2px $yellowColor;
    box-shadow: 4px 4px $yellowColor;
  }
  &.green {
    border: solid 2px $greenColor;
    box-shadow: 4px 4px $greenColor;
  }
  &.dark {
    border: solid 2px $darkColor;
    box-shadow: 4px 4px $darkColor;
  }
  &.purple {
    border: solid 2px $purpleColor;
    box-shadow: 4px 4px $purpleColor;
  }
  &.grey {
    border: solid 2px $greyColor;
    box-shadow: 4px 4px $greyColor;
  }

  div.cardTitle {
    margin: 0.7em 0 0 0.5em;

    h2.title {
      font-family: $titleFont;
      font-size: $fontSize-lg;
      color: $primaryColor;
      margin: 0.2em 0;
    }
    .title:hover {
      color: $secondaryColor;
    }
    h3.userName {
      font-family: $textFont;
      font-size: 0.75em;
      letter-spacing: 0.5px;
      margin: 0;
      color: $greyColor;
    }
  }

  .featuredPict {
    height: auto;
    position: relative;
    width: 100%;

    .pictSliderArrow {
      fill: none;
      stroke: $lightColor;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      &.left {
        left: 0;
      }
      &.right {
        right: 0;
      }
    }
    .pict {
      height: 100%;
      object-fit: cover;
      position: relative !important;
      width: 100% !important;
    }
  }
}

.singlePostPicts {
  margin: 2em auto;
  width: 100%;
  max-width: 700px;
  height: auto;
  position: relative;
  .pict {
    height: 100% !important;
    object-fit: cover;
    position: relative !important;
    width: 100% !important;
  }
}

div.cardMeta {
  display: flex;
  justify-content: center;
  align-items: center;
  p.cardMetaText {
    color: $greyColor;
    font-family: $textFont;
    font-size: $fontSize-sm;
    display: inline;
    line-height: 1.6em;
  }
  .metaIcon {
    fill: none;
    stroke: $primaryColor;
    margin: 0 7px;
  }
}

div.lightBox {
  background-color: $lightColor;
  margin: 2em 0 0.5em 0;
  padding: 0.5em;
  display: flex;
  justify-content: space-evenly;
}
div.sessionTracking {
  background-color: $lightColor;
  margin: 0.5em 0;
  padding: 0.5em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    font-family: $titleFont;
    letter-spacing: 0.2px;
  }
  .sessionIcon {
    fill: none;
    stroke: $primaryColor;
  }
}
div.cardSeparator {
  background: darken($color: $lightColor, $amount: 10);
  height: 2px;
  margin: 0.3em 1em;
}
div.cardContent {
  margin: 1.2em 0.5em;

  ol {
    li {
      margin: 0.5em 0 0 1.25em;
    }
  }

  ul {
    li {
      margin: 0.5em 0 0 0.25em;
    }
  }
}
div.linkContainer {
  width: 100%;
  border-radius: 5px;
  margin: 0.3em 0;
  padding: 0.5em 0;
  background-color: $lightColor;
  text-align: center;
  .linkText {
    font-family: $textFont;
    font-size: $fontSize-sm;
    cursor: pointer;
    color: $secondaryColor;
    font-weight: 400;
  }
  .linkText:hover {
    font-weight: 600;
  }
}
div.cardIcons {
  margin: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.socialIconContainer {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.pinkIcon {
  fill: none;
  stroke: $secondaryColor;
}

.linksIcon {
  fill: none;
  transition: fill 0.2s ease-in-out;
  cursor: pointer;
  margin-right: 0.5em;
  &.blue {
    stroke: $blueColor;
  }
  &.pink {
    stroke: $secondaryColor;
  }
  &.green {
    stroke: $greenColor;
  }
  &.primary {
    stroke: $primaryColor;
  }
  &.yellow {
    stroke: $yellowColor;
  }
  &.purple {
    stroke: $purpleColor;
  }
  &.dark {
    stroke: $darkColor;
  }
  &.grey {
    stroke: $greyColor;
  }
}
.linksIcon:hover {
  &.blue {
    fill: $blueColor;
  }
  &.pink {
    fill: $secondaryColor;
  }
  &.green {
    fill: $greenColor;
  }
  &.primary {
    fill: $primaryColor;
  }
  &.yellow {
    fill: $yellowColor;
  }
  &.purple {
    fill: $purpleColor;
  }
  &.dark {
    fill: $darkColor;
  }
  &.grey {
    fill: $greyColor;
    stroke: white;
  }
}
.fullLinksIcon {
  transition: fill 0.2s ease-in-out;
  cursor: pointer;
  margin-right: 0.5em;
  stroke: none;
  &.blue {
    fill: $blueColor;
  }
  &.pink {
    fill: $secondaryColor;
  }
  &.green {
    fill: $greenColor;
  }
  &.primary {
    fill: $primaryColor;
  }
  &.yellow {
    fill: $yellowColor;
  }
  &.purple {
    fill: $purpleColor;
  }
  &.dark {
    fill: $darkColor;
  }
  &.grey {
    fill: $greyColor;
  }
}
.fullLinksIcon:hover {
  &.blue {
    stroke: $blueColor;
  }
  &.pink {
    stroke: $secondaryColor;
  }
  &.green {
    stroke: $greenColor;
  }
  &.primary {
    stroke: $primaryColor;
  }
  &.yellow {
    stroke: $yellowColor;
  }
  &.purple {
    stroke: $purpleColor;
  }
  &.dark {
    stroke: $darkColor;
  }
  &.grey {
    stroke: $greyColor;
  }
}

.avatarContainer {
  margin: 0.5em;

  .avatar {
    border-radius: 50%;
    cursor: pointer;
    padding: 0.12em;

    &.blue {
      border: solid 3px $blueColor;
    }
    &.pink {
      border: solid 3px $secondaryColor;
    }
    &.green {
      border: solid 3px $greenColor;
    }
    &.yellow {
      border: solid 3px $yellowColor;
    }
    &.purple {
      border: solid 3px $purpleColor;
    }
    &.dark {
      border: solid 3px $darkColor;
    }
    &.grey {
      border: solid 3px $greyColor;
    }
  }
  .avatar:hover {
    border: none;
  }
}

.singleCardMeta {
  margin: 0.2em 0 1em 0;
  .cardMetaText {
    color: $greyColor;
    font-family: $textFont;
    font-size: $fontSize-sm;
    display: inline;
    letter-spacing: 0.5px;
  }
  .metaIcon {
    fill: none;
    stroke: $greyColor;
    margin: 0 1em;
    vertical-align: middle;
  }
}

.addLocationIcon {
  fill: none;
  stroke: $primaryColor;
  cursor: pointer;
  margin-top: 0.5em;
}
.addLocationIcon:hover {
  stroke: $secondaryColor;
}

.newPostBar {
  align-items: center;
  background: linear-gradient(135deg, $yellowColor 0%, $secondaryColor 100%);
  cursor: pointer;
  display: flex;
  gap: 1em;
  justify-content: space-between;
  padding: 1.2em 1em;
  border-radius: 0 0 6px 6px;

  .newPostButton {
    background-color: white;
    border: none;
    border-radius: 5px;
    margin: 0;
    padding: 0.5em 1em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      font-family: $textFont;
      font-size: $fontSize-md;
    }
  }

  .rollerIcon {
    fill: white;
    stroke: $primaryColor;
  }
}

.newPostBar:hover {
  background: linear-gradient(135deg, $blueColor 0%, $yellowColor 100%);
}

.sidebarLayout {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;

  .sidebarAvatarContainer {
    display: flex;
    justify-content: center;
  }
  .sidebarContainer {
    margin: 1.75em;
    width: 100%;
  }
  .sidebarContent {
    background-color: $lightColor;
    position: relative;
    width: 40%;
    max-width: 250px;

    .sidebarText {
      margin: 2.5em 1.5em 01.5em 1.5em;
      h2 {
        font-size: $fontSize-lg;
      }
      ul {
        list-style-type: disc;
      }
      li {
        font-size: 1em;
        margin: 0.7em 0;
      }
    }
  }
}

.lastPosts {
  margin: 1em;
  p {
    font-family: $titleFont;
    font-size: $fontSize-sm;
    margin: 1em 0;
  }
  ul {
    margin: 0 0 0 1em;
  }
  li {
    list-style-type: disc;
    a {
      font-family: $textFont;
      font-size: 0.97em;
      letter-spacing: 0;
    }
    .detail {
      color: $greyColor;
      font-size: $fontSize-sm;
      margin-left: 0.5em;
      font-family: $textFont;
      text-transform: uppercase;
      margin: 0;
    }
  }
  li:hover {
    text-decoration: underline;
    color: $secondaryColor;
  }
}

.pictsPreviewContainer {
  background-color: $lightColor;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.5em;
  margin: 1em 0;
  padding: 0.75em;
  .pictPreview {
    position: relative;
    .pict {
      border-radius: 5px;
      object-fit: cover;
      width: 140px;
      height: 140px;
    }
    .removePictIcon {
      background-color: $redColor;
      border-radius: 50%;
      color: white;
      cursor: pointer;
      height: 18px;
      position: absolute;
      right: 15px;
      text-align: center;
      top: -5px;
      width: 18px;
      font-family: $titleFont;
      font-size: $fontSize-sm;
    }
  }
}

.commentContainer {
  border: solid 3px darken($color: $lightColor, $amount: 8);
  padding: 0.7em;
  border-radius: 5px;
  margin: 1em 0;
}

.divider {
  border-bottom: 1px solid darken($color: $lightColor, $amount: 8);
  margin: 0.5em 0 1em 0;
}

// @media (max-width: 700px) {
//   .sidebarLayout {
//     .sidebarContainer {
//       margin: 1em;
//       width: 100%;
//     }
//     .sidebarContent {
//       display: none;
//     }
//   }
// }

.userPostsContainer {
  margin: 1em;
  #userPosts {
    font-family: $textFont;
    border-collapse: collapse;
    width: 100%;
  }

  #userPosts td,
  #userPosts th {
    border: 1px solid white;
    padding: 8px;
  }

  #userPosts tr:nth-child(even) {
    background-color: $lightColor;
  }

  #userPosts tr:hover {
    background-color: darken($color: $lightColor, $amount: 10);
  }

  #userPosts th {
    padding: 10px;
    text-align: left;
    background-color: $secondaryColor;
    color: white;
  }
}

@media (max-width: 860px) {
  .sidebarContent {
    display: none;
  }
}
