@import "./variables.scss";

// .responsiveNavigationText {
//   display: none;
// }
.header {
  height: 5.4em;
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;

  .container {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .logo {
      margin-top: 8px;
    }

    .navigation {
      display: flex;
      justify-content: space-around;

      // .responsiveNavigationIcon {
      //   display: none;
      // }

      .navigationIcon {
        align-items: center;
        display: flex;
        justify-content: center;
        p {
          margin-left: 1em;
          font-family: $titleFont;
          font-size: $fontSize-md;
          transition: fill 0.2s ease-in-out;
        }

        p:hover {
          color: $secondaryColor;
        }

        p.active {
          color: $secondaryColor;
        }

        .icon {
          fill: none;
          margin: 0 0 0 0.5em;
          stroke: $secondaryColor;
          transition: fill 0.2s ease-in-out;
          cursor: pointer;
        }
        .icon:hover {
          fill: none;
          stroke: $primaryColor;
        }
        .iconInactive {
          fill: none;
          margin: 0 0 0 0.5em;
          stroke: $primaryColor;
          transition: fill 0.2s ease-in-out;
          cursor: pointer;
        }
        .iconInactive:hover {
          fill: none;
          stroke: $secondaryColor;
        }
      }

      // .navigationText {
      //   align-items: center;
      //   display: flex;
      //   justify-content: center;
      //   p {
      //     color: $primaryColor;
      //     font-family: $titleFont;
      //     font-size: $fontSize-md;
      //     margin: 0 0.8em 0 0;
      //     transition: fill 0.2s ease-in-out;
      //   }
      //   p:hover {
      //     color: $secondaryColor;
      //   }
      // }
    }
  }
}

// @media (max-width: 700px) {
//   .header {
//     .container {
//       .navigation {
//         .responsiveNavigationIcon {
//           align-items: center;
//           display: flex;
//           justify-content: flex-end;

//           .icon {
//             fill: none;
//             margin: 0 0.8em 0 0;
//             stroke: $primaryColor;
//             transition: fill 0.2s ease-in-out;
//             cursor: pointer;
//           }
//           .icon:hover {
//             fill: none;
//             stroke: $secondaryColor;
//           }
//         }
//         .navigationIcon {
//           display: none;
//         }
//         // .navigationText {
//         //   display: none;
//         // }
//       }
//     }
//   }
//   .responsiveNavigationText {
//     position: absolute;
//     top: 5.75em;
//     left: 0;
//     width: 100%;
//     background-color: $lightColor;
//     align-items: center;
//     display: flex;
//     flex-direction: column;
//     min-height: 800em;
//     height: 100vh;
//     margin: 0;
//     opacity: 0.97;
//     padding-top: 2em;
//     z-index: 9;
//     div {
//       color: $primaryColor;
//       font-family: $titleFont;
//       font-size: $fontSize-md;
//       margin: 1.25em 0;
//       transition: fill 0.2s ease-in-out;
//       cursor: pointer;
//     }
//     div:hover {
//       color: $secondaryColor;
//     }
//   }
// }
