@import "./variables.scss";

.homeHero {
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: flex-start;
  margin: 0;

  .heroCta {
    background: linear-gradient(135deg, $yellowColor 0%, $secondaryColor 100%);
    min-width: 300px;
    padding: 2.5em;
    width: 100%;

    h1.ctaTitle {
      font-family: $titleFont;
      font-size: $fontSize-xxl;
      line-height: 1em;
      margin: 0.8em 0;
    }
    h2.cta {
      font-family: $titleFont;
      font-size: $fontSize-lg;
      margin: 1em 0;
    }
    p.ctaText {
      font-family: $textFont;
      font-size: $fontSize-md;
      font-weight: 300;
      line-height: 1.7em;
    }
    .ctaButton {
      margin: 2em 0;
      padding: 0;
    }
  }
  .heroImage {
    height: auto;
    width: 100%;
  }
  .heroImage > div {
    position: unset !important;
  }
  .image {
    height: 100% !important;
    object-fit: cover;
    position: relative !important;
    width: 100% !important;
  }
}

.blueBox {
  background: $primaryColor;
  margin: 0;
  padding: 5em 2em;

  h2.blueBoxTitle {
    color: white;
    font-family: $titleFont;
    font-size: $fontSize-xl;
    letter-spacing: 0.2px;
    margin: 0;
    text-align: center;
  }

  .underliner {
    border-bottom: solid 3px white;
    margin: 2em auto;
    width: 40%;
  }

  p.blueBoxText {
    color: white;
    font-family: $textFont;
    font-size: $fontSize-md;
    font-weight: 300;
    letter-spacing: 0.3px;
    margin-bottom: 1.3em;
    text-align: center;
  }

  form {
    background: white;
    border: none;
    border-radius: 8px;
    color: $primaryColor;
    display: flex;
    margin: 3em auto;
    width: 100%;
    max-width: 768px;
    padding: 0.5em;
    position: relative;
    font-size: $fontSize-lg;
    font-family: $textFont;
    cursor: pointer;

    input[type="search"] {
      background: transparent;
      border: none;
      border: 1px solid transparent;
      border-radius: inherit;
      color: inherit;
      margin: 0;
    }

    button[type="submit"] {
      background: transparent
        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
        no-repeat center;
      border: 1px solid transparent;
      border-radius: inherit;
      cursor: pointer;
      height: 20px;
      margin: 0;
      opacity: 0.7;
      overflow: hidden;
      padding: 0;
      position: absolute;
      right: 1em;
      text-indent: -999px;
      top: 1em;
      width: 20px;
    }

    button[type="submit"]:hover {
      opacity: 1;
    }

    button[type="submit"]:focus,
    input[type="search"]:focus {
      border-color: #1183d6;
      box-shadow: 0 0 3px 0 #1183d6;
      outline: none;
    }
  }
  .imagesBox {
    display: flex;
    justify-content: center;
    .fourRoundImages {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
      max-width: 820px;

      .roundImage {
        height: 160px;
        position: relative;
        width: 160px;
      }
      .image {
        border: solid 3px white;
        border-radius: 50%;
        height: 160px !important;
        object-fit: cover;
        width: 160px !important;
      }
    }
  }
}

.homeNextEvent {
  align-content: center;
  align-items: center;
  background-image: $gradient;
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding: 3em;
  width: 100%;

  .nextEventLogo {
    width: 300px;
  }

  .nextEventCard {
    width: 100%;

    h2.nextEventTitle {
      color: white;
      font-family: $textFont;
      font-size: $fontSize-md;
      font-weight: 300;
      line-height: 2em;
      letter-spacing: 0.2px;
    }

    .card {
      background: white;
      border-radius: 8px;
      box-shadow: 6px 6px $primaryColor;
      padding: 1em;
    }
  }
}

/* Mobile */
@media (max-width: 700px) {
  .homeHero {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    margin: 0;

    .heroCta {
      background: linear-gradient(
        135deg,
        $yellowColor 0%,
        $secondaryColor 100%
      );
      width: 100%;
      padding: 2.5em;
    }
    .heroImage {
      width: 100%;
      height: auto;
    }
  }
  .blueBox {
    .imagesBox {
      .fourRoundImages {
        .roundImage {
          height: 125px;
          position: relative;
          width: 125px;
        }
        .image {
          border: solid 2px white;
          border-radius: 50%;
          height: 125px !important;
          object-fit: cover;
          width: 125px !important;
        }
      }
    }
  }
}
