@import "./variables.scss";

.rollerStylesSeparator {
  width: 100%;
  background-color: $primaryColor;
  margin: 0;
  padding: 0.5em 0;
  border-radius: 8px 8px 0 0;
  .rollerStylesContent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    p {
      color: white;
      font-family: $titleFont;
      font-size: $fontSize-sm;
      text-align: center;
      letter-spacing: 0.3px;
    }
    .rollerStylesIcon {
      stroke: none;
      fill: $yellowColor;
    }
  }
}

.rollerSkaterAvatarContainer {
  position: relative;

  .rollerSkaterAvatar {
    width: 175px;
    height: 175px;
    border-radius: 50%;
    border: solid 4px white;
    object-fit: cover;
  }
  .updateAvatarIcon {
    position: absolute;
    top: 130px;
    right: 5px;
    stroke: $secondaryColor;
    background: white;
  }
}

.updateUserSidebarAvatar {
  display: flex;
  justify-content: center;
  margin: 2em 0;
}

.rollerSkaterInfoBar {
  width: 100%;

  .rollerSkaterInfoContainer {
    background: linear-gradient(0deg, white 50%, $primaryColor 50%);
    display: flex;
    margin: 0.3em 0 0 0;
    padding: 1.25em 1.25em 0 1.25em;

    .rollerSkaterInfo {
      margin: 0 0 0 2.5em;
      width: 100%;
      position: relative;

      .rollerSkaterName {
        display: flex;
        justify-content: space-between;
        h1 {
          color: white;
          font-size: $fontSize-xl;
          font-family: $titleFont;
          letter-spacing: 0.5px;
          margin: 0;
        }
        .editIcon {
          cursor: pointer;
          margin-top: 0.3em;
          stroke: white;
          margin-right: 0.75em;
        }
        .editIcon:hover {
          stroke: $secondaryColor;
        }
        .logoutIcon {
          cursor: pointer;
          margin-top: 0.3em;
          stroke: white;
        }
        .logoutIcon:hover {
          stroke: $secondaryColor;
        }
      }

      .rollerSkaterLocation {
        margin-top: 0.25em;
        p {
          display: flex;
          align-items: center;
          color: white;
          font-family: $textFont;
          font-size: $fontSize-md;
          letter-spacing: 0.2px;
        }
        .locationIcon {
          stroke: white;
          fill: $primaryColor;
          margin-right: 0.5em;
        }
      }

      .rollerSkaterLinks {
        position: absolute;
        top: 58%;
        right: 0;

        .noLinkIcon {
          margin-left: 0.3em;
          stroke: lighten($color: $secondaryColor, $amount: 35);
          fill: none;
        }
        .linkIcon {
          margin-left: 0.3em;
          stroke: $primaryColor;
          fill: none;
          cursor: pointer;
        }
        .linkIcon:hover {
          stroke: $secondaryColor;
        }
      }
    }
  }
  .rollerSkaterResume {
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
    gap: 1em;

    .profileButton {
      display: flex;
      justify-content: center;
      width: 20%;
    }
    .rollerSkaterDescription {
      font-family: $textFont;
      font-size: $fontSize-md;
      color: $primaryColor;
      width: 80%;
      padding: 1.2em;
    }
  }
}

.uploadRollerSkaterAvatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.rollerLevelContainer {
  width: 100%;
  background-color: $primaryColor;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3em;
  padding: 3em 0.5em;
  margin-top: 1.5em;

  .rollerLevelTitle {
    color: white;
    font-family: $titleFont;
    font-size: $fontSize-md;
    letter-spacing: 0.3px;
    margin-right: 2.5em;
    padding-top: 0.4em;
  }

  .rollerStarIcon {
    fill: $yellowColor;
    margin-right: 0.25em;
  }
  .rollerNoStarIcon {
    stroke: lighten($color: $yellowColor, $amount: 10);
    fill: none;
    margin-right: 0.25em;
  }
}

.updateRollerStarIcon {
  stroke: $secondaryColor;
  fill: $secondaryColor;
  margin-right: 0.25em;
  cursor: pointer;
}
.updateRollerStarIcon:hover {
  stroke: lighten($color: $secondaryColor, $amount: 25);
  fill: none;
}
.updateRollerNoStarIcon {
  stroke: lighten($color: $secondaryColor, $amount: 25);
  fill: none;
  margin-right: 0.25em;
  cursor: pointer;
}
.updateRollerNoStarIcon:hover {
  stroke: $secondaryColor;
  fill: $secondaryColor;
}

@media (max-width: 700px) {
  .rollerStylesSeparator {
    width: 100%;
    background-color: $primaryColor;
    margin: 0;
    padding: 0.5em 0;
    .rollerStylesContent {
      display: none;
    }
  }

  .rollerLevelContainer {
    gap: 0;
    display: flex;
    flex-wrap: wrap;
  }
}
