{
  "trailingComma": "es5",
  "singleQuote": false,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 80,
  "endOfLine": "auto",
  "arrowParens": "avoid",
  "semi": true,
  "bracketSpacing": true
}
